/*  your css code here. If applicable */
		body{
            height: 40vh;
        }
        .container{
            margin: 30px 60px;
            padding: 70px 100px;
            height: 100%;
            background-color: rgb(211, 211, 211);
            border: 5px solid;
            border-radius: 100px;
            display: flex;

            justify-content: space-evenly;
        }
        .green,.yellow,.red{
            width: 30%;
            border-radius: 50%;
        }
        .green{
            background-color: green;
        }
        .yellow{
            background-color: yellow;
        }
        .red{
            background-color: red;
        }